.footer-div {
    width: auto;
    bottom: 0;
    background-color: #171723;
    color: #c5c6c7;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #66fcf1;
    font-size: 0.8em;
    box-sizing: border-box;
    transition: width 0.5s;
}

.footer-div p,
.footer-div a {
    color: #c5c6c7;
    margin: 0;
    padding: 0;
}

.footer-div a:hover {
    color: #66fcf1;
}

.footer-div ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}
