.sidebar nav ul li a,
.sidebar .bottom-link a {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    width: auto;
    transition: width 0.7s;
    overflow: hidden;
}

.sidebar {
    width: 64px;
    flex-shrink: 0;
    flex-basis: auto;
    background-color: #16181f;
    font-family: "Helvetica Neue", sans-serif;
    color: #c5c6c7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: width 0.5s;
    grid-row: 2;
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
}

.sidebar.expanded {
    width: 180px;
}

.sidebar nav ul,
.sidebar .bottom-link {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sidebar nav ul li:not(.site-icon-li),
.sidebar .bottom-link {
    width: 100%;
}

.sidebar nav ul li a img,
.sidebar .bottom-link a img {
    width: 32px;
    height: 32px;
}

.sidebar nav ul li a img:not(.site-icon),
.sidebar .bottom-link a img:not(.site-icon) {
    filter: invert(1) brightness(0.6);
}

.sidebar nav ul li a:hover,
.sidebar .bottom-link a:hover {
    filter: brightness(130%);
}

.link-content {
    display: flex;
    align-items: center;
}

.link-text {
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
    transition: transform 0.7s, opacity 0.7s;
    white-space: nowrap;
    text-decoration: none;
    filter: brightness(0.6);
    color: white;
}

.sidebar.expanded .link-text {
    padding-left: 10px;
    transform: scaleX(1);
    opacity: 1;
}

.sidebar nav ul li.active-link:not(.site-icon-li) a {
    filter: brightness(160%);
}

.sidebar nav ul li.active-link:not(.site-icon-li) .link-text {
    filter: none;
    color: #47a59f;
}

.sidebar .bottom-link .link-content a:not(:first-child) {
    display: none;
}

.sidebar .bottom-link .link-content a:not(:first-child) img {
    filter: invert(0) brightness(0.6);
}

.sidebar nav ul li.active-link:not(.site-icon-li) a:hover {
    filter: brightness(120%);
}

.sidebar nav ul li.active-link .link-content img:not(.site-icon) {
    filter:
            invert(56%)
            sepia(58%)
            saturate(371%)
            hue-rotate(127deg)
            brightness(92%)
            contrast(85%);
}

.bottom-link .link-content {
    height: 46px;
}

.sidebar .bottom-link {
    margin-top: auto;
}

.sidebar.expanded .bottom-link .link-content a:not(:first-child) {
    display: block;
}
